.availability_div{
    height: 100%;
    width: 32%;
    border-radius: 2px;
   
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: #D9D9D9;
    margin: 0.5vh 0 0 1vw;
}

.title{
    
    margin-left: 130px;
    font-size: 18px;
    vertical-align: middle;

   
}
.availability_tile{
    margin: 1vh 0 3.5vw 3.5vw;
    padding: 2vh 2vw;
    height: 4vh;
    width: 22vw;
    background-color: #F2F2F2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    
    display: flex;
}
.Title_1{
font-size: 1.8rem;
color: black;
display: flex;


}
.gauge_chart{
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 30vh;
    width: 25vw;
    margin:0 3vw;
}
.line_chart{
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 30vh;
    width: 25vw;
    margin:0 3vw;
}